:root {
  --black: #05131a;
  --white: white;
  --royal-blue: #3c6583;
  --laser-lemon: #f9f871;
  --green: #9de584;
  --sapphire: #3a4ea2;
  --flame: #e35c25;
  --dim-grey: #bcbec0;
  --orange-red-2: #f2620f;
  --orange-red: #133f69;
  --brown-2: #636466;
  --brown: #a12021;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Exo, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.232;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  color: var(--black);
  margin-bottom: 10px;
}

a {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: inline-block;
}

.wrapper--page {
  margin-left: auto;
  margin-right: auto;
}

.wrapper--hero {
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.wrapper--hero.top {
  height: 37rem;
  background-color: var(--black);
  color: var(--white);
  background-image: linear-gradient(rgba(19, 63, 105, .35), rgba(19, 63, 105, .35)), var(--image-3bdd220f);
  background-position: 0 0, 50% 100%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: static;
}

.wrapper--hero.next {
  margin-top: 50vh;
}

.wrapper--hero.relative {
  position: relative;
}

.wrapper--section--background {
  height: 100vh;
  background-color: var(--white);
  background-image: linear-gradient(#fff 20%, rgba(0, 0, 0, 0) 50%), var(--image-i4d6f35e4);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.wrapper--section--background.white {
  background-color: var(--white);
  background-image: none;
}

.wrapper--section--background.blue {
  background-color: var(--royal-blue);
  background-image: none;
}

.image--triangle {
  position: relative;
}

.h1--hero {
  color: var(--white);
  margin-bottom: 2rem;
}

.h1--hero.in--tooltip {
  width: 40rem;
  text-align: right;
  font-size: 3rem;
  line-height: 1.232;
  position: absolute;
  bottom: auto;
  left: auto;
  right: 5%;
}

.h1--hero.font-size--lg {
  width: 50rem;
  max-width: 98%;
  text-align: center;
  font-size: 6rem;
}

.container--hero {
  max-width: 40rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.grid--hero-icons {
  width: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  margin-bottom: 2rem;
  display: flex;
}

.stylesheet-container {
  max-width: 1000px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.style-guide-content {
  padding-top: 40px;
}

.type-column-1 {
  padding-right: 20px;
}

.style-guide-divider {
  width: 100%;
  height: 1px;
  background-color: #f3f3f5;
  margin-top: 20px;
  margin-bottom: 10px;
}

.style-guide-label {
  color: #aaa;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 11px;
  line-height: 11px;
}

.type-column-2 {
  padding-top: 30px;
  padding-left: 20px;
}

.button {
  border: 1px solid var(--black);
  background-color: var(--laser-lemon);
  color: var(--black);
  letter-spacing: 1.5px;
  border-radius: 20rem;
  padding: .8rem 2rem .75rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  transition: box-shadow .3s, background-color .3s;
}

.button:hover {
  background-color: var(--green);
  color: var(--black);
  box-shadow: 0 6px 8px -2px rgba(5, 19, 26, .2);
}

.container--hero-icon {
  align-items: center;
  display: flex;
}

.image--icon-hero {
  width: 3rem;
  height: 3rem;
  color: var(--laser-lemon);
  margin-right: .75rem;
  padding: .4rem .5rem;
}

.text--hero-icon {
  color: var(--white);
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1;
}

.wrapper--nav {
  z-index: 50;
  background-image: linear-gradient(rgba(19, 63, 105, .7), rgba(0, 0, 0, 0) 95%);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.container--menu {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  color: var(--white);
  text-align: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.container--menu.is--footer {
  justify-content: space-between;
  display: flex;
}

.link--logo {
  z-index: 5;
}

.link--nav {
  color: var(--white);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  transition: color .3s;
}

.link--nav:hover {
  color: var(--laser-lemon);
}

.link--nav:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.link--nav[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.link--nav.w--current {
  border-bottom-color: var(--laser-lemon);
}

.link--nav.is--dropdown {
  color: var(--black);
  margin-bottom: .5rem;
  display: block;
}

.link--nav.is--dropdown:hover {
  color: var(--sapphire);
}

.link--nav.is--footer {
  color: var(--laser-lemon);
}

.link--nav.is--footer:hover {
  color: var(--green);
}

.nav--dropdown {
  height: 100%;
  position: relative;
}

.nav-dropdown-toggle {
  color: var(--white);
  padding: 0;
  transition: color .3s;
}

.nav-dropdown-toggle:hover {
  color: var(--laser-lemon);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav--dropdown-list {
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  margin-left: -5rem;
  margin-right: -5rem;
  padding: 1rem 1rem .5rem;
  display: none;
  position: absolute;
  top: 3rem;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 6px 8px -2px rgba(5, 19, 26, .2);
}

.nav--dropdown-list.w--open {
  padding: 1rem;
  top: 3rem;
  left: -50%;
}

.image--logo {
  width: 100%;
}

.container--nav {
  max-width: 90%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}

.image--caret {
  width: 2rem;
  height: 2rem;
  color: var(--laser-lemon);
  margin-top: 3rem;
}

.image--caret-menu {
  z-index: -1;
  width: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -1.25rem;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.text--nav {
  height: 100%;
  cursor: default;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.text--nav.is--footer {
  color: var(--laser-lemon);
}

.wrapper--sticky {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.wrapper--sticky.is--hero {
  background-image: linear-gradient(rgba(19, 63, 105, .35), rgba(0, 0, 0, 0) 20%), var(--image-5c1309f7);
  background-position: 0 0, 50% 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.wrapper--sticky.tooltips {
  position: absolute;
  top: 15%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wrapper--sticky.is--process {
  background-image: linear-gradient(rgba(19, 63, 105, .75) 10%, rgba(255, 255, 255, 0) 80%), var(--image-i1eca378e);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper--sticky.is--process-bottom {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(19, 63, 105, .75) 90%), var(--image-61dc05d2);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper--sticky.is--benefits {
  background-image: linear-gradient(rgba(19, 63, 105, .75) 10%, rgba(255, 255, 255, 0) 80%), var(--image-i5a8c8e0a);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper--sticky.is--benefits-bottom {
  background-image: linear-gradient(rgba(19, 63, 105, .75) 10%, rgba(255, 255, 255, 0) 80%), var(--image-4d154cfe);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.wrapper--sticky.is--about {
  background-image: linear-gradient(rgba(19, 63, 105, .75) 10%, rgba(255, 255, 255, 0) 80%), var(--image-7ddf4bb7);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container--tooltip {
  display: inline-block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.container--tooltip._2 {
  top: 30%;
  bottom: auto;
  left: 10%;
  right: auto;
}

.container--tooltip._1 {
  top: 59%;
  left: 30%;
}

.container--tooltip._3 {
  top: 32%;
  left: 82%;
}

.container--tooltip._4 {
  top: 22%;
  left: 43%;
}

.container--tooltip._5 {
  top: 43%;
  left: 64%;
}

.image--tooltip-icon {
  width: 4rem;
  height: 4rem;
  border: 8px solid var(--white);
  background-image: linear-gradient(45deg, var(--laser-lemon), #efb34f 14%, var(--flame) 72%);
  border-radius: 50%;
  margin-right: .75rem;
  padding: .4rem .5rem;
  box-shadow: 0 8px 6px -2px rgba(5, 19, 26, .2);
}

.text--section-head {
  color: var(--black);
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.text--section-head.white {
  color: var(--white);
  font-size: 6rem;
}

.text--section-head.yellow {
  color: var(--laser-lemon);
  margin-top: 0;
}

.text--section-head.bottom {
  color: var(--laser-lemon);
  margin-top: 4rem;
  margin-bottom: 0;
  font-size: 2.5rem;
  line-height: 1.21;
}

.text--section-head.small {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.21;
}

.container--65rem {
  width: 65rem;
  max-width: 98%;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
}

.container--65rem.margin--top {
  padding-top: 10rem;
}

.container--65rem.is--static {
  margin-bottom: 6rem;
  position: static;
}

.p--large {
  margin-bottom: 3rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.container--tooltip-p {
  width: 16rem;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  margin-left: -3.5rem;
  margin-right: -3.5rem;
  padding: 1rem 1rem .5rem;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 200%;
  right: auto;
  box-shadow: 0 6px 8px -2px rgba(5, 19, 26, .2);
}

.container--tooltip-p.w--open {
  padding: 1rem;
  top: 3rem;
  left: -50%;
}

.image--caret-tooltip {
  z-index: 0;
  width: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: auto;
  left: -1.25rem;
  right: auto;
  transform: rotate(-90deg);
}

.h--tooltip {
  margin-bottom: .5rem;
  font-size: 1.225rem;
}

.grid--2col {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
}

.accordion-wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: -14px 0 10px -8px rgba(0, 0, 0, .3);
}

.accordion-item {
  z-index: 9;
  width: 80%;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  box-shadow: 0 1px 0 0 var(--dim-grey);
  color: #32292f;
  cursor: pointer;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  margin-bottom: .25rem;
  padding: 1.5rem 2rem 0;
  font-size: 2rem;
  font-weight: 700;
  transition: transform .2s, border .2s, box-shadow .2s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.accordion-item:hover {
  z-index: 12;
  box-shadow: 0 0 1rem 0 var(--dim-grey);
  border-radius: 1rem;
  transform: scale(1.05);
}

.accordion-bg-slider {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.accordion-container {
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
}

.accordion-title {
  z-index: 10;
  font-weight: 500;
  position: relative;
}

.accordion-icon {
  z-index: 10;
  width: 2rem;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0;
}

.accordion-container_content {
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  position: relative;
}

.accordion-text {
  margin-bottom: 1.5rem;
}

.image--full-cover {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.h--accordion {
  width: 80%;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.h--accordion.lg-c {
  color: var(--orange-red-2);
  text-align: center;
  margin-bottom: 4rem;
  font-size: 6rem;
  line-height: 1;
}

.paragraph {
  width: 80%;
}

.wrapper--page-section {
  margin-left: auto;
  margin-right: auto;
}

.wrapper--page-section.margin-top {
  margin-top: 6rem;
}

.wrapper--page-section.white {
  background-color: var(--white);
}

.grid--4col {
  width: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid--4col.is--services {
  margin-top: 3rem;
  margin-bottom: 6rem;
  position: relative;
}

.container--circle {
  width: 10rem;
  height: 10rem;
  background-color: var(--white);
  color: var(--laser-lemon);
  border-radius: 50%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, .4);
}

.container--block-c {
  width: 100%;
  text-align: center;
  border-radius: 2rem;
  position: relative;
}

.container--block-c.is--team-background {
  background-image: linear-gradient(to bottom, var(--royal-blue) 59%, var(--orange-red));
  border-radius: 2rem;
  position: absolute;
  top: 2rem;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.container--block-c.is--team {
  overflow: hidden;
}

.container--block-c.is--team-gradient {
  z-index: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 83%, rgba(5, 19, 26, .8));
  border-radius: 2rem;
  position: absolute;
  top: 2rem;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.container--block-c.is--team-background-alt {
  background-image: linear-gradient(to bottom, var(--dim-grey) 30%, var(--brown-2));
  border-radius: 2rem;
  position: absolute;
  top: 2rem;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.h4--icon {
  font-weight: 600;
}

.image--absolute {
  width: 10rem;
  height: 10rem;
  color: var(--laser-lemon);
  padding: 2rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.container--80rem {
  width: 80rem;
  max-width: 98%;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
}

.container--80rem.is-static {
  margin-bottom: 4rem;
  position: static;
}

.container--80rem.align-left {
  align-items: flex-start;
}

.container--80rem.is--team {
  position: static;
  top: 0;
}

.wrapper--section--blue {
  background-image: linear-gradient(to bottom, var(--orange-red) 51%, #172733);
  padding-bottom: 10rem;
  position: -webkit-sticky;
  position: sticky;
}

.wrapper--section--blue.white {
  background-color: var(--white);
  background-image: none;
}

.wrapper--section--blue.is-relative {
  position: relative;
}

.slider {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.container--testimonial {
  height: 30rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  display: flex;
}

.container--testimonial-content {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 20px -10px var(--brown-2);
  border-radius: 3rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: -1.5rem;
  padding: 3rem;
  display: flex;
  position: relative;
}

.text--author {
  color: var(--orange-red);
  font-size: 2rem;
  font-weight: 700;
}

.image--testimonial {
  z-index: 1;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.testimonial-slider-arrow {
  display: none;
}

.testimonial-slider-nav {
  width: 76%;
  margin-top: 1rem;
  padding-top: 0;
  top: auto;
  bottom: -4rem;
  left: auto;
  right: 1rem;
}

.wrapper--slide {
  margin-right: 1rem;
}

.p--testimonial {
  font-size: 1.25rem;
  font-weight: 300;
}

.container--testimonial-author {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text--location {
  color: var(--orange-red);
  font-size: 1.5rem;
}

.container--pipe {
  width: 60rem;
  height: .5rem;
  max-width: 98%;
  background-color: rgba(188, 190, 192, .2);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 5rem;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.wrapper--footer {
  width: 100%;
  background-color: var(--orange-red);
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.container--footer {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container--social {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
}

.link--social {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: .125rem;
  transition: transform .2s;
  display: flex;
}

.link--social:hover {
  transform: scale(1.2);
}

.text--footer {
  color: var(--dim-grey);
}

.image--service {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.image--service.absolute {
  position: absolute;
}

.wrapper--service {
  grid-column-gap: 4rem;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-bottom: 4rem;
  display: grid;
}

.container--block-l {
  width: 100%;
}

.h--service {
  color: var(--white);
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.p--service {
  color: var(--white);
}

.mask {
  padding: 1rem 1rem 1rem 0;
}

.heading--hero {
  width: 40rem;
  color: var(--white);
  text-align: center;
  text-shadow: 1px 1px 4px var(--brown-2);
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.21;
}

.heading--hero.in--tooltip {
  width: 40rem;
  text-align: right;
  font-size: 3rem;
  line-height: 1.232;
  position: absolute;
  bottom: auto;
  left: auto;
  right: 5%;
}

.heading--hero.font-size--lg {
  font-size: 6rem;
}

.heading--hero.font-size--m {
  text-align: left;
  font-size: 4rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.ratio-box {
  width: 100%;
  border-radius: 8px;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.content-block, .wrapper--ratiobox-1-1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text--section-head-dark {
  color: var(--laser-lemon);
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.grid--3col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image--team {
  z-index: 1;
  width: 100%;
  position: relative;
}

.image--team.is--action {
  z-index: 2;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text--team {
  z-index: 3;
  color: var(--white);
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1.75rem;
  font-weight: 500;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wrapper--section--white {
  background-color: var(--white);
  background-image: none;
  padding-bottom: 10rem;
  position: -webkit-sticky;
  position: sticky;
}

@media screen and (max-width: 991px) {
  .container--menu {
    justify-content: space-between;
  }

  .link--logo {
    position: relative;
  }

  .link--nav {
    padding-left: 5px;
    padding-right: 5px;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container--testimonial {
    padding-left: 32px;
  }

  .wrapper--service {
    grid-column-gap: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .link--logo {
    padding-left: 0;
  }

  .link--nav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav--dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container--testimonial {
    flex-direction: column;
    padding: 23px;
  }

  .container--testimonial-content {
    max-width: none;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .image--testimonial, .image--service {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .button {
    text-align: center;
  }
}

#w-node-_60c31c73-baa8-c3ee-647b-00df4a9e0350-ea121c85, #w-node-_60c31c73-baa8-c3ee-647b-00df4a9e0354-ea121c85, #w-node-_60c31c73-baa8-c3ee-647b-00df4a9e0358-ea121c85, #w-node-_60c31c73-baa8-c3ee-647b-00df4a9e039d-ea121c85 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_60c31c73-baa8-c3ee-647b-00df4a9e039e-ea121c85 {
  justify-self: auto;
}

#w-node-_2938b16c-ead9-5efe-630f-760f3b79c6c9-ea121c85, #w-node-_1ee1d1f7-1b09-0b7a-ee9e-6e3a3e72abf4-ea121c85, #w-node-_837e6ee3-8bc1-fa6e-355b-dc7e07fb922b-ea121c85, #w-node-_279fceea-73c2-a054-e84c-a903462333dd-ea121c85, #w-node-_8982cc36-873d-86d4-683e-38b0483c36b5-ea121c85, #w-node-fb0435ac-76ee-4305-4dde-dc5645c5373e-ea121c85, #w-node-_7ebea6df-6efe-3bb2-8d4a-138cd821bfe5-ea121c85, #w-node-a7e19b1a-6c30-dcad-afe0-32751ab2b5b7-ea121c85, #w-node-a7e19b1a-6c30-dcad-afe0-32751ab2b5b9-ea121c85, #w-node-_55093ff5-a380-2ea3-2412-2ad52f95c091-ea121c85 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_55093ff5-a380-2ea3-2412-2ad52f95c092-ea121c85 {
  justify-self: auto;
}

#w-node-_2b4f0536-9592-d734-3a87-61cf807e2b66-807e2b5d, #w-node-_0428b783-e2aa-c98f-0765-e1aa4461fbf5-4461fbec {
  align-self: center;
}

#w-node-_4843b846-3c8c-3bf8-db3d-0b9fb4c5e10c-af4560d8, #w-node-_4843b846-3c8c-3bf8-db3d-0b9fb4c5e10d-af4560d8, #w-node-_4843b846-3c8c-3bf8-db3d-0b9fb4c5e10f-af4560d8, #w-node-_4843b846-3c8c-3bf8-db3d-0b9fb4c5e115-af4560d8, #w-node-_4843b846-3c8c-3bf8-db3d-0b9fb4c5e117-af4560d8, #w-node-_4843b846-3c8c-3bf8-db3d-0b9fb4c5e11d-af4560d8, #w-node-_4843b846-3c8c-3bf8-db3d-0b9fb4c5e11f-af4560d8, #w-node-_4843b846-3c8c-3bf8-db3d-0b9fb4c5e125-af4560d8, #w-node-_4843b846-3c8c-3bf8-db3d-0b9fb4c5e127-af4560d8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_99ae3231-ee25-01d8-3465-38f73d810a6c-af4560d8, #w-node-_03d9db79-add6-180b-2ae5-e849345a1b6a-af4560d8, #w-node-_889fb772-b367-cfe3-558d-c705b8c599c3-af4560d8, #w-node-a8dc819e-8a0a-fb83-bc5e-4ebcf099a24f-af4560d8, #w-node-_99ae3231-ee25-01d8-3465-38f73d810a6c-5ffe2bc9, #w-node-_03d9db79-add6-180b-2ae5-e849345a1b6a-5ffe2bc9, #w-node-_889fb772-b367-cfe3-558d-c705b8c599c3-5ffe2bc9, #w-node-a8dc819e-8a0a-fb83-bc5e-4ebcf099a24f-5ffe2bc9, #w-node-d7aadcd8-6174-68fb-c578-3abb2b54d318-5ffe2bc9 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_84192918-c06d-a7a7-9a55-d74411779185-710547cd {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_84192918-c06d-a7a7-9a55-d74411779186-710547cd {
  justify-self: auto;
}


